<script src="js/jquery-3.7.1.min.js"></script>
<script src="js/swiper-11.0.5.min.js"></script>
<script src="js/overlayscrollbars-2.12.0.min.js"></script>
<script src="js/imask-7.6.1.min.js"></script>
<script src="js/jquery.validate-1.21.0.min.js"></script>
<script src="js/tom-select.complete-2.4.3.min.js"></script>
<script src="js/fancybox.umd.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/tippy-bundle.umd.min.js"></script>
<script src="js/dragscroll.min.js"></script>
<script src="js/scripts.js?cache_bust=123"></script>
