<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Dev</title>
		{% include 'blocks/head.njk' %}
	</head>
	<body class="preload">
		<div class="main-wrapper-outer">
			{% include 'blocks/header.njk' %}
      <main class="main">
        <div class="container">
          <div class="breadcrumbs-wrapper">
            <div class="breadcrumbs">
              <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item"><a href="/">Главная</a></li>
                <li class="breadcrumbs__item is-active"><span>Dev</span></li>
              </ul>
            </div>
          </div>
          <h1 class="title1">Dev</h1>
        </div>

        <div class="block1">
          <div class="container">

            <div style="margin-bottom: 30px;">
              <nav aria-label="Постраничная навигация">
                <ul class="pagination">
                  <li>
                    <span class="pagination__item pagination__item_nav pagination__item_nav-prev pagination__item_disabled" href="#">
                      <svg aria-hidden="true" width="16" height="14">
                        <use xlink:href="img/sprite.svg#arrow1"></use>
                      </svg>
                    </span>
                  </li>
                  <li>
                    <a class="pagination__item pagination__item_active" aria-current="page" href="#">1</a>
                  </li>
                  <li>
                    <a class="pagination__item" href="#"><span class="v-h">Страница </span>21</a>
                  </li>
                  <li>
                    <a class="pagination__item" href="#"><span class="v-h">Страница </span>3</a>
                  </li>
                  <li>
                    <a class="pagination__item" href="#"><span class="v-h">Страница </span>4</a>
                  </li>
                  <li>
                    <a class="pagination__item" href="#">...</a>
                  </li>
                  <li>
                    <a class="pagination__item" href="#"><span class="v-h">Страница </span>55</a>
                  </li>
                  <li>
                    <a class="pagination__item pagination__item_nav pagination__item_nav-next" href="#">
                      <svg aria-hidden="true" width="16" height="14">
                        <use xlink:href="img/sprite.svg#arrow1"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>

            <div style="margin: 0 0 30px 0;">
              <ul class="checklist">
                <li class="checklist__item">
                  <label class="checkbox-text">
                    <span class="checkbox">
                      <input class="checkbox__input" type="checkbox" name="chb3">
                      <span class="checkbox__visual">
                        <svg width="12" height="10" class="checkbox__mark" aria-hidden="true">
                          <use xlink:href="img/sprite.svg#mark1"></use>
                        </svg>
                      </span>
                    </span>
                    <span class="checkbox-text__label">Samsung (10)</span>
                  </label>
                </li>
                <li class="checklist__item">
                  <label class="checkbox-text">
                    <span class="checkbox">
                      <input class="checkbox__input" type="checkbox" name="chb4">
                      <span class="checkbox__visual">
                        <svg width="12" height="10" class="checkbox__mark" aria-hidden="true">
                          <use xlink:href="img/sprite.svg#mark1"></use>
                        </svg>
                      </span>
                    </span>
                    <span class="checkbox-text__label">Сначала с высокой оценкой</span>
                  </label>
                </li>
                <li class="checklist__item">
                  <label class="checkbox-text">
                    <span class="checkbox">
                      <input class="checkbox__input" type="checkbox" name="chb5">
                      <span class="checkbox__visual">
                        <svg width="12" height="10" class="checkbox__mark" aria-hidden="true">
                          <use xlink:href="img/sprite.svg#mark1"></use>
                        </svg>
                      </span>
                    </span>
                    <span class="checkbox-text__label">Samsung (10)</span>
                  </label>
                </li>
              </ul>
            </div>

						<div style="margin: 0 0 30px 0; display: flex; align-items: center; gap: 15px;">
							<label class="checkbox">
								<input class="checkbox__input" type="checkbox" name="chb1">
								<span class="checkbox__visual">
									<svg width="12" height="10" class="checkbox__mark" aria-hidden="true">
										<use xlink:href="img/sprite.svg#mark1"></use>
									</svg>
								</span>
							</label>

							<label class="checkbox-text">
								<span class="checkbox">
									<input class="checkbox__input" type="checkbox" name="chb2">
									<span class="checkbox__visual">
										<svg width="12" height="10" class="checkbox__mark" aria-hidden="true">
											<use xlink:href="img/sprite.svg#mark1"></use>
										</svg>
									</span>
								</span>
								<span class="checkbox-text__label">Samsung (10)</span>
							</label>

							<label class="radio">
								<input class="radio__input" type="radio" name="rad1">
								<span class="radio__visual"></span>
							</label>

							<label class="checkbox-text">
								<span class="radio">
									<input class="radio__input" type="radio" name="rad1">
									<span class="radio__visual"></span>
								</span>
								<span class="checkbox-text__label">Samsung (10)</span>
							</label>
						</div>

            <div style="margin: 0 0 30px 0; max-width: 300px;">
              <div data-expandable="collapsed" class="expandable">
                <div class="expandable__top">
                  <span class="expandable__label" data-expandable-handle>Розничная цена</span>
                  <svg data-expandable-handle class="expandable__chevron" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#chevron1"></use>
                  </svg>
                </div>
                <div class="expandable__bottom">
                  <div data-expandable-clip class="expandable__bottom-inner">
                    <ul class="checklist">
                      <li class="checklist__item">
                        <label class="checkbox-text">
                          <span class="checkbox">
                            <input class="checkbox__input" type="checkbox" name="chb3">
                            <span class="checkbox__visual">
                              <svg width="12" height="10" class="checkbox__mark" aria-hidden="true">
                                <use xlink:href="img/sprite.svg#mark1"></use>
                              </svg>
                            </span>
                          </span>
                          <span class="checkbox-text__label">Samsung (10)</span>
                        </label>
                      </li>
                      <li class="checklist__item">
                        <label class="checkbox-text">
                          <span class="checkbox">
                            <input class="checkbox__input" type="checkbox" name="chb4">
                            <span class="checkbox__visual">
                              <svg width="12" height="10" class="checkbox__mark" aria-hidden="true">
                                <use xlink:href="img/sprite.svg#mark1"></use>
                              </svg>
                            </span>
                          </span>
                          <span class="checkbox-text__label">Сначала с высокой оценкой</span>
                        </label>
                      </li>
                      <li class="checklist__item">
                        <label class="checkbox-text">
                          <span class="checkbox">
                            <input class="checkbox__input" type="checkbox" name="chb5">
                            <span class="checkbox__visual">
                              <svg width="12" height="10" class="checkbox__mark" aria-hidden="true">
                                <use xlink:href="img/sprite.svg#mark1"></use>
                              </svg>
                            </span>
                          </span>
                          <span class="checkbox-text__label">Samsung (10)</span>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div style="margin: 0 0 30px 0; display: flex; align-items: center; gap: 15px;">
              <select data-select1 class="select" autocomplete="off">
                <option value="1" selected>Любой статус заказа</option>
                <option value="2">Принят</option>
                <option value="3">Выполнен</option>
                <option value="4">Отменен</option>
              </select>

              <select data-select1 class="select select_1" autocomplete="off">
                <option value="1" selected>Все</option>
                <option value="2">Хит</option>
                <option value="3">Новинка</option>
                <option value="4">Акция</option>
              </select>
            </div>

            <div style="margin: 0 0 30px 0; ">
              <select data-select1 class="select select_wide" autocomplete="off">
                <option value="1" selected>Любой статус заказа</option>
                <option value="2">Принят</option>
                <option value="3">Выполнен</option>
                <option value="4">Отменен</option>
              </select>
            </div>

            <div style="margin: 0 0 30px 0; ">
              <select data-select1 class="select select_1 select_wide" autocomplete="off">
                <option value="1" selected>Все</option>
                <option value="2">Хит</option>
                <option value="3">Новинка</option>
                <option value="4">Акция</option>
              </select>
            </div>

            <div style="margin: 0 0 30px 0; display: flex; align-items: center; gap: 15px;">
              <button type="button" class="btn btn_primary">Кнопка</button>
              <button type="button" class="btn btn_primary btn_hollow">Кнопка</button>
              <button type="button" class="btn btn_black">Кнопка</button>
              <span class="spinner" role="status">
                <span class="v-h">Загрузка...</span>
                <svg>
                  <use xlink:href="img/sprite.svg#spinner1"></use>
                </svg>
              </span>
              <span class="spinner spinner_active" role="status">
                <span class="v-h">Загрузка...</span>
                <svg>
                  <use xlink:href="img/sprite.svg#spinner1"></use>
                </svg>
              </span>
              <button class="btn-load">
                Загрузить еще
                <span class="spinner" role="status">
                  <svg>
                    <use xlink:href="img/sprite.svg#spinner1"></use>
                  </svg>
                </span>
              </button>
            </div>

            <div style="margin: 0 0 30px 0;">
              <button type="button" class="btn btn_wide btn_primary">Кнопка широкая</button>
            </div>

            <div style="margin: 0 0 30px 0;">
              <button type="button" class="btn btn_wide btn_hollow btn_primary">Кнопка широкая</button>
            </div>

            <div style="margin: 0 0 30px 0;">
              <input class="field-input1" type="text" name="email" placeholder="Ваш e-mail">
            </div>

            <div style="margin: 0 0 30px 0;">
              <div class="input-group1">
                <input class="input-group1__field field-input1" type="text" name="email1" placeholder="Ваш e-mail">
                <button class="input-group1__btn btn btn_black" type="submit">Подписаться</button>
              </div>
            </div>

            <div style="margin: 0 0 30px 0;">
              <div class="input-group1">
                <input class="input-group1__field field-input1" type="text" name="email2" placeholder="Ваш e-mail">
                <button class="input-group1__btn-arr btn btn_black" type="submit">
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#arrow1"></use>
                  </svg>
                </button>
              </div>
            </div>

            <div style="margin: 0 0 30px 0;">
              <div class="form-group">
                <label class="form-group__label form-group__label_req" for="form_input2">Номер телефона</label>
                <input id="form_input2" class="field-input1 form-group__field" type="tel" name="name1">
              </div>
            </div>

            <div>
							<div data-stepcounter class="stepcounter stepcounter_accent">
								<button class="stepcounter__btn" data-stepcounter="-" type="button" disabled>
									<svg aria-hidden="true">
										<use xlink:href="img/sprite.svg#minus1"></use>
									</svg>
								</button>
								<input data-stepcounter-input class="stepcounter__input" type="number" value="1" min="1" max="10" name="stepcounter1" readonly>
								<button class="stepcounter__btn" data-stepcounter="+" type="button">
									<svg aria-hidden="true">
										<use xlink:href="img/sprite.svg#plus1"></use>
									</svg>
								</button>
							</div>
            </div>
          </div>
        </div>
      </main>
			{% include 'blocks/footer.njk' %}
		</div>
    {% include 'blocks/scripts.njk' %}
	</body>
</html>
