<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Главная страница</title>
		{% include 'blocks/head.njk' %}
	</head>
	<body class="preload mp">
		<div class="main-wrapper-outer">
			{% include 'blocks/header.njk' %}
			<main class="main">

			</main>
			{% include 'blocks/footer.njk' %}
		</div>
    {% include 'blocks/scripts.njk' %}
	</body>
</html>
