*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
button,
textarea {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

html,
body {
  height: 100%;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}
